<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>personal information</title>
    <!---->
    <link type="text/css" rel="stylesheet" href="../../css/personal_information.css" />
    <link type="text/css" rel="stylesheet" href="../../../static/css/personal_information.css" />
    <link rel="stylesheet" type="text/css" href="../../css/sidebar.css"/>
    <link rel="stylesheet" href="../../../static/css/sidebar.css" />
</head>
<body>

<header>
    <a class="backprev" href="javascript:history.back();">
        <i class="mdui-icon material-icons">返回上一页</i>
    </a>
    <div class="head-middle">列表页</div>
    <div class="head-right">
        <button class="mdui-btn app-btn" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons">导航</i></button>
        <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-drawer">

            <ul class="mdui-list app-slide-menu app-collapse-menu" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple app-list-home ">
                    <a th:href="@{/GoSearch}" class="app-list-item-link mdui-text-left ">
                        <div class="mdui-list-item-content">
                            搜索
                        </div>
                    </a>
                </li>
                <li class="mdui-collapse-item  app-hide-list  app-collapse-list">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple  mdui-p-x-0">
                        <div class="mdui-list-item mdui-list-item-content mdui-text-left" onClick="">
                            个人主页
                        </div>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPurchase_History}" class="app-list-item-link mdui-text-left">
                                购买记录
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoShopping_Cart}" class="app-list-item-link mdui-text-left">
                                购物车
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPending_Order}" class="app-list-item-link mdui-text-left">
                                待确定订单
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPersonal_Information}" class="app-list-item-link mdui-text-left">
                                个人信息
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoUpload_Commodity}" class="app-list-item-link mdui-text-left">
                                上传商品
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</header>

<main>
<div class="table1">
    <div class="t1">
        <p>用户名: <span th:text="${name}"></span></p>
    </div>
    <div class="t1">
        <p>昵称: <span th:text="${user_name}"></span></p>
    </div>
    <div class="t1 img1">
        <p>头像: <a th:href="${image_adr}" target="_blank"><img th:src="${image_adr}" border="0" /></a></p>
    </div>
    <div class="t1">
        <p>状态: <span th:text="${status}"></span></p>
    </div>
    <div class="t1">
        <p>电子邮箱: <span th:text="${email}"></span></p>
    </div>
    <div class="t1">
        <p>其他联系方式: <span th:text="${contact}"></span></p>
    </div>
</div>

<div class="table2">
    <form method="post" action="upload_user_info" enctype="multipart/form-data">
        <div class="t2">
            <p>昵称</p>
            <input name="user_name_change" type="text" placeholder="请输入新的昵称">
        </div>
        <div class="t2">
            <p>密码</p>
            <input name="password_change" type="text" placeholder="请输入新的密码">
        </div>
        <div class="t2">
            <p>用户头像</p>
            <input name="pic_img_change" type="file" placeholder="请上传新的头像">
        </div>
        <div class="t2">
            <p>电子邮件</p>
            <input name="email_change" type="text" placeholder="请输入新的电子邮件">
        </div>
        <div class="t2">
            <p>联系方式</p>
            <input name="contact_change" type="text" placeholder="请输入新的联系方式">
        </div>
        <div class="t2">
            <p>地址</p>
            <input name="adr_add" type="text" placeholder="请输入新的地址">
        </div>
        <div class="t2">
            <input class="submit" type="submit" value="确认更改">
        </div>
    </form>
</div>
</main>

<script src="../../js/mdui.js"></script>
<script src="../../../static/js/mdui.js"></script>
</body>
</html>
