<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search</title>
    <!---->
    <!---->
    <link rel="stylesheet" href="../../static/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/search.css"/>
    <link rel="stylesheet" type="text/css" href="../css/search.css"/>
    <link rel="stylesheet" type="text/css" href="../css/sidebar.css"/>
</head>

<body>

<header>
    <a class="backprev" href="javascript:history.back();">
        <i class="mdui-icon material-icons">返回上一页</i>
    </a>
    <div class="head-middle">列表页</div>
    <div class="head-right">
        <button class="mdui-btn app-btn" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons">导航</i></button>
        <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-drawer">

            <ul class="mdui-list app-slide-menu app-collapse-menu" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple app-list-home ">
                    <a th:href="@{/GoSearch}" class="app-list-item-link mdui-text-left ">
                        <div class="mdui-list-item-content">
                            搜索
                        </div>
                    </a>
                </li>
                <li class="mdui-collapse-item  app-hide-list  app-collapse-list">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple  mdui-p-x-0">
                        <div class="mdui-list-item mdui-list-item-content mdui-text-left" onClick="">
                            个人主页
                        </div>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPurchase_History}" class="app-list-item-link mdui-text-left">
                                购买记录
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoShopping_Cart}" class="app-list-item-link mdui-text-left">
                                购物车
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPending_Order}" class="app-list-item-link mdui-text-left">
                                待确定订单
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoPersonal_Information}" class="app-list-item-link mdui-text-left">
                                个人信息
                            </a>
                        </li>
                        <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                            <a th:href="@{/GoUpload_Commodity}" class="app-list-item-link mdui-text-left">
                                上传商品
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</header>

<div class="header">
    <div class="search">
        <form action="search_product" method="get">
            <div class="search_input">
                <input name="url" type="text"  class="search_url" placeholder="请输入要查询的商品的完整或部分名称，宁可少字，也请勿错字"/>
                <input name="" type="submit" class="search_submit" value="查询" />
            </div>
        </form>
    </div>
</div>

<div class="show_content" id="show">
    <form method="post" action="add_to_shopping_cart">
    <div class="show_list" th:style="'display:'+@{(${visible5} ? 'none' : ' ')}">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr th:style="'display:'+@{(${visible5} ? 'none' : ' ')}">
                <td height="40" align="center" valign="middle" class="title_bg">商品名</td>
                <td height="40" align="center" valign="middle" class="title_bg">图片</td>
                <td height="40" align="center" valign="middle" class="title_bg">卖家</td>
                <td height="40" align="center" valign="middle" class="title_bg">价格</td>
                <td height="40" align="center" valign="middle" class="title_bg">是否有货</td>
                <td height="40" align="center" valign="middle" class="title_bg">库存</td>
                <td height="40" align="center" valign="middle" class="title_bg">介绍</td>
                <td height="40" align="center" valign="middle" class="title_bg">购买数量</td>
                <td height="40" align="center" valign="middle" class="title_bg add_check"><input type="submit" value="添加至购物车"></td>
            </tr>

            <tr th:style="'display:'+@{(${visible0} ? 'none' : ' ')}">
                <td height="80" align="center"><span th:text="${name0}"></span></td>
                <td height="80" align="center"><a th:href="${image_adr0}" target="_blank"><img th:src="${image_adr0}" width="50px" height="70px" border="0" /></a> </td>
                <td height="80" align="center"><span th:text="${seller0}"></span></td>
                <td height="80" align="center"><span th:text="${price0}"></span></td>
                <td height="80" align="center"><span th:text="${exist0}"></span></td>
                <td height="80" align="center"><span th:text="${current_number0}"></span></td>
                <td height="80" align="center"><span th:text="${introduction0}"></span></td>
                <td height="80" align="center"><input type="text" name="buy_number0">
                    <span class="error" style="display: inline-block; margin-left: 5px;color: brown;" th:text="${number_error0}"}></span>
                </td>
                <td class="check" height="80" align="center"><input type="checkbox" name="add0"  onclick="if(this.value==1) {this.value(0);}"></td>
            </tr>

            <tr th:style="'display:'+@{(${visible1} ? 'none' : ' ')}">
                <td height="80" align="center"><span th:text="${name1}"></span></td>
                <td height="80" align="center"><a th:href="${image_adr1}" target="_blank"><img th:src="${image_adr1}" width="50px" height="70px" border="0" /></a> </td>
                <td height="80" align="center"><span th:text="${seller1}"></span></td>
                <td height="80" align="center"><span th:text="${price1}"></span></td>
                <td height="80" align="center"><span th:text="${exist1}"></span></td>
                <td height="80" align="center"><span th:text="${current_number1}"></span></td>
                <td height="80" align="center"><span th:text="${introduction1}"></span></td>
                <td height="80" align="center"><input type="text" name="buy_number1">
                    <span class="error" style="display: inline-block; margin-left: 5px;color: brown;" th:text="${number_error1}"}></span>
                </td>
                <td class="check" height="80" align="center"><input type="checkbox" name="add1"  onclick="if(this.value==1) {this.value(0);}"></td>
            </tr>

            <tr th:style="'display:'+@{(${visible2} ? 'none' : ' ')}">
                <td height="80" align="center"><span th:text="${name2}"></span></td>
                <td height="80" align="center"><a th:href="${image_adr2}" target="_blank"><img th:src="${image_adr2}" width="50px" height="70px" border="0" /></a> </td>
                <td height="80" align="center"><span th:text="${seller2}"></span></td>
                <td height="80" align="center"><span th:text="${price2}"></span></td>
                <td height="80" align="center"><span th:text="${exist2}"></span></td>
                <td height="80" align="center"><span th:text="${current_number2}"></span></td>
                <td height="80" align="center"><span th:text="${introduction2}"></span></td>
                <td height="80" align="center"><input type="text" name="buy_number2">
                    <span class="error" style="display: inline-block; margin-left: 5px;color: brown;" th:text="${number_error2}"}></span>
                </td>
                <td class="check" height="80" align="center"><input type="checkbox" name="add2"  onclick="if(this.value==1) {this.value(0);}"></td>
            </tr>

            <tr th:style="'display:'+@{(${visible3} ? 'none' : ' ')}">
                <td height="80" align="center"><span th:text="${name3}"></span></td>
                <td height="80" align="center"><a th:href="${image_adr3}" target="_blank"><img th:src="${image_adr3}" width="50px" height="70px" border="0" /></a> </td>
                <td height="80" align="center"><span th:text="${seller3}"></span></td>
                <td height="80" align="center"><span th:text="${price3}"></span></td>
                <td height="80" align="center"><span th:text="${exist3}"></span></td>
                <td height="80" align="center"><span th:text="${current_number3}"></span></td>
                <td height="80" align="center"><span th:text="${introduction3}"></span></td>
                <td height="80" align="center"><input type="text" name="buy_number3">
                    <span class="error" style="display: inline-block; margin-left: 5px;color: brown;" th:text="${number_error3}"}></span>
                </td>
                <td class="check" height="80" align="center"><input type="checkbox" name="add3"  onclick="if(this.value==1) {this.value(0);}"></td>
            </tr>

            <tr th:style="'display:'+@{(${visible4} ? 'none' : ' ')}">
                <td height="80" align="center"><span th:text="${name4}"></span></td>
                <td height="80" align="center"><a th:href="${image_adr4}" target="_blank"><img th:src="${image_adr4}" width="50px" height="70px" border="0" /></a> </td>
                <td height="80" align="center"><span th:text="${seller4}"></span></td>
                <td height="80" align="center"><span th:text="${price4}"></span></td>
                <td height="80" align="center"><span th:text="${exist4}"></span></td>
                <td height="80" align="center"><span th:text="${current_number4}"></span></td>
                <td height="80" align="center"><span th:text="${introduction4}"></span></td>
                <td height="80" align="center"><input type="text" name="buy_number4">
                    <span class="error" style="display: inline-block; margin-left: 5px;color: brown;" th:text="${number_error4}"}></span>
                </td>
                <td class="check" height="80" align="center"><input type="checkbox" name="add4" value="4" onclick="if(this.value==1) {this.value(0);}"></td>
            </tr>

        </table>
    </div>
    </form>
</div>

<div class="turnPage">
    <p th:style="'display:'+@{(${visible6} ? 'none' : '')}" class="PageUD" align="center"><a class="PageUD" th:href="@{/anonymous/search_TurnUp}">上一页</a></p>
    <p th:style="'display:'+@{(${visible7} ? 'none' : '')}" class="PageUD" align="center"><a class="PageUD" th:href="@{/anonymous/search_TurnDown}">下一页</a> </p>
</div>

<script src="../js/mdui.js"></script>
<script src="../../static/js/mdui.js"></script>
</body>
</html>